# Copier en terraform.tfvars et remplir. NE JAMAIS commiter terraform.tfvars.

subscription_id     = "00000000-0000-0000-0000-000000000000"
prefix              = "lab"
location            = "westeurope"
resource_group_name = "rg_lab_agi"

# VPN IPsec
fortigate_public_ip  = "195.46.235.220"
onprem_address_space = ["10.118.255.0/24"]
vpn_psk              = "CHANGE_ME_strong_preshared_key"

# Identifiants VM
opnsense_admin_username = "opnadmin"
opnsense_admin_password = "CHANGE_ME_Opn_Pass123!"
spoke_vm_admin_username = "azureuser"
spoke_vm_admin_password = "CHANGE_ME_Spoke_Pass123!"

# Image Marketplace OPNsense (Deciso) - valeurs reelles (cf. az vm image list)
# opnsense_image = {
#   publisher = "decisosalesbv"
#   offer     = "opnsense"
#   sku       = "opnsense-be-2025"
#   version   = "26.1.6"
#   plan      = "opnsense-be-2025"
# }

# Restreindre l'acces MGMT a ton IP publique (recommande)
# mgmt_allowed_source = "X.X.X.X/32"

# --- Phase 2 uniquement (config OPNsense via API) ---
enable_opnsense_config = false
opnsense_url           = ""
opnsense_api_key       = ""
opnsense_api_secret    = ""
